html
  head
    title= title
  body
    h2 Submit a file to view its filesize.
    form( action="/get-file-size", method="post", enctype="multipart/form-data")
      input( type='file', name='file', id='file')
      input( type="submit" )

